<div>
  <h1>This is a big header for something.</h1>
  <p>A paragraph of text for something. I am not sure what to put here, but it will surely be profound.</p>
    <button class="btn" type="button">Click Me!</button>
    <%= yield %>
</div>
