@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: linear-gradient(to bottom right, red, yellow, rgb(30, 144, 255));
  background-repeat: no-repeat;
}

.span2 {
    float: left;
    clear: right;
}
.span10 {
    padding-top: 5%;

}
.title {
    text-align: right;
    display: inline;
}
.title h1 {
    font-size: 6em;
    color: blue;
    display: inline;
    text-decoration: underline;
    font-family: 'Indie Flower', cursive;
}
.title h2 {
    display: inline;
    font-size: 6em;
    color: blue;
    text-decoration: underline;
    font-family: 'Indie Flower', cursive;
}
.signin {
    float: right;
    text-align: center;
}
.signin ul {
    list-style-type: none;
}
.signin li {
    display: inline;
}
.signin li a {
    font-size: 2em;
    text-decoration: none;
    padding-right: 5px;
}
.signin li a:hover {
    background-color: #555;
    color: white;
}

.navbar {
    padding-top: 1%;
    width: auto;

}
.navbar ul {
    list-style-type: none;
    padding: 0, 1%;
    margin: 1%;
    height: 100%;
    float: left;
}

.navbar li a {
    display: block;
    color: blue;
    font-family: 'Indie Flower', cursive;
    padding: 8px 0 8px 16px;
    text-decoration: none;
    font-size: 3em;
}

.navbar li a:hover {
    background-color: #555;
    color: white;
    padding: 8px 8px 8px 8px;
}

.mainbody {
    padding-left: 20%;
}
.btn {
  background: #d93463;
  background-image: -webkit-linear-gradient(top, #d93463, #2683bd);
  background-image: -moz-linear-gradient(top, #d93463, #2683bd);
  background-image: -ms-linear-gradient(top, #d93463, #2683bd);
  background-image: -o-linear-gradient(top, #d93463, #2683bd);
  background-image: linear-gradient(to bottom, #d93463, #2683bd);
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  text-shadow: 7px 5px 3px #050505;
  font-family: Courier New;
  color: #ffffff;
  font-size: 20px;
  padding: 8px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cfc59;
  background-image: -webkit-linear-gradient(top, #3cfc59, #b8d934);
  background-image: -moz-linear-gradient(top, #3cfc59, #b8d934);
  background-image: -ms-linear-gradient(top, #3cfc59, #b8d934);
  background-image: -o-linear-gradient(top, #3cfc59, #b8d934);
  background-image: linear-gradient(to bottom, #3cfc59, #b8d934);
  text-decoration: none;
}
